@use "../utils/variables" as var;
@import "../utils/animations";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: var.$background;
    overscroll-behavior: none;
}

main > * {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 35%;
}

section {
    padding-block: 5rem;

    @media screen and (max-width: map-get(var.$breakpoints, xl)) {
        padding-block: 3.75rem;
    }

    @media screen and (max-width: map-get(var.$breakpoints, md)) {
        padding-block: 2.5rem;
    }
}

a {
    text-decoration: none;
    color: inherit;

    :has(> h3) {
        display: inline-block;
    }
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    color: inherit;
    cursor: pointer;

    &:has(> img) {
        font-size: 0;
    }
}

hr {
    height: 1px;
    background-color: var.$background-secondary;
}

input {
    background-color: transparent;
}

img {
    object-fit: cover;
}
