@mixin responsive-container($breakpoint, $width, $gutter) {
    @media screen and (min-width: #{$width}) {
        .container {
            --container-width: #{$width};
            --gutter: #{$gutter};
        }
    }
}

@mixin display-utilities($breakpoint, $value) {
    .d-#{$breakpoint}-#{$value} {
        display: $value;
    }
}

@mixin generate-default-columns($count) {
    @for $i from 1 through $count {
        .col-#{$i} {
            --col-size: #{$i};
            --col-count: #{$count};
        }
    }
}

@mixin generate-columns($breakpoint, $count) {
    @for $i from 1 through $count {
        @media screen and (min-width: map-get(var.$containers, $breakpoint)) {
            .col-#{$breakpoint}-#{$i} {
                --col-size: #{$i};
                --col-count: #{$count};
            }
        }
    }
}

@mixin generate-default-offsets($count) {
    @for $i from 1 through $count {
        .offset-#{$i} {
            margin-left: calc($i * (100% / $count));
        }
    }
}

@mixin generate-offsets($breakpoint, $count) {
    @for $i from 1 through $count {
        @media screen and (min-width: map-get(var.$containers, $breakpoint)) {
            .offset-#{$breakpoint}-#{$i} {
                margin-left: calc($i * (100% / $count));
            }
        }
    }
}
