.d-flex {
    display: flex;
}

.d-in-flex {
    display: inline-flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-nowrap {
    flex-wrap: nowrap !important;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}
