$background: #2B2B2B;
$background-secondary: #3B3B3B;
$caption-label-text: #858584;
$text: #fff;

$call-to-action: #A259FF;

$gradient-1: linear-gradient(101deg, #A259FF 13.57%, #FF6250 97.65%);
$gradient-2: linear-gradient(128deg, #A259FF 49.75%, #377DF7 136.56%);

$trans-settings: ease 0.3s;

$font-family: "Work Sans", sans-serif;
$font-family--mono: "Space Mono", monospace;

$border-rad: 20px;

$breakpoints: (
    sm: 374.98px,
    md: 833.98px,
    xl: 1279.98px,
);

$settings: (
    sm: (6, 1.25rem),
    md: (12, 1.875rem),
    xl: (12, 1.875rem)
);

$containers: (
    sm: 375px,
    md: 834px,
    xl: 1280px
);

$containers-padding: (
    sm: 30px,
    md: 72px,
    xl: 115px
);

:root {
    --gutter: 30px;
    --col-width: 0;
    --background: #{$background};
    --background-secondary: #{$background-secondary};
    --caption-label-text: #{$caption-label-text};
    --text: #{$text};
};
