@use "../utils/variables" as var;

[class*="btn--"] {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 0 3.125rem;
    border: 2px solid var.$call-to-action;
    border-radius: var.$border-rad;
    background-color: transparent;

    img {
        width: 20px;
    }
}

[class^="btn--"] {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
}

.btn--primary-1,
.btn--secondary-1,
.btn--tertiary-1 {
    background-color: var.$call-to-action;
}

.btn--primary-1,
.btn--primary-2 {
    height: 4.5rem;
}

.btn--secondary-1,
.btn--secondary-2 {
    height: 3.75rem;
}

.btn--tertiary-1,
.btn--tertiary-2 {
    height: 2.875rem;
}
