@use "../utils/variables" as var;
@import "../utils/animations";

[class*="btn--"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 3.125rem;
    border: 2px solid var.$call-to-action;
    border-radius: var.$border-rad;
    background-color: transparent;
    text-align: center;
    white-space: nowrap;
    user-select: none;

    img {
        width: 20px;
    }

    &:active {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 transparent;
        transition: box-shadow 0.2s ease-in;
    }
}

[class^="btn--"] {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
}

.btn--primary-1,
.btn--secondary-1,
.btn--tertiary-1 {
    background-color: var.$call-to-action;
}

.btn--primary-1,
.btn--primary-2 {
    height: 4.5rem;
}

.btn--secondary-1,
.btn--secondary-2 {
    height: 3.75rem;
}

.btn--tertiary-1,
.btn--tertiary-2 {
    height: 2.875rem;
}

@media screen and (max-width: map-get(var.$breakpoints, md)) {
    [class*="btn--"] {
        width: 100%;
    }
}

@media (hover: hover) and (pointer: fine) {
    [class*="btn--"] {
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        transition: all 0.2s ease-in;

        &::before {
            content: "";
            display: block;
            width: 0px;
            height: 86%;
            position: absolute;
            top: 7%;
            left: 0%;
            opacity: 0;
            background: #fff;
            box-shadow: 0 0 50px 30px #fff;
            transform: skewX(-20deg);
        }
    }

    [class*="btn--"]:hover {
        box-shadow: 0 0 30px 5px var.$call-to-action;
        transition: all 0.2s ease-out;

        &::before {
            animation: stale-cheetah 0.5s 0s linear;
        }
    }

    [class*="btn--"]:has(img, span) {
        img,
        span {
            position: relative;
            left: 0;
        }

        img {
            transform-origin: center center;
            transition: left var.$trans-settings-2;
        }

        span {
            opacity: 1;
            transition:
                left var.$trans-settings-2,
                opacity var.$trans-settings-2;
        }
    }

    [class*="btn--"]:has(img, span):hover {
        img {
            left: 50%;
            animation: fly 0.6s ease-in-out infinite alternate;
        }

        span {
            left: 100%;
            opacity: 0;
        }
    }

    [class*="btn--"].fly-2:has(img, span):hover img {
        animation-name: fly-2;
    }
}
