@use "../utils/variables" as var;

footer {
    padding-block: 2.5rem;
    border-top: 2px solid var.$background;
    background-color: var.$background-secondary;

    a,
    small,
    p:not(.h5--mono) {
        color: #ccc;
        font-size: 1rem;
        line-height: 1.4;
    }

    .h5--mono {
        line-height: 32px;
    }

    hr {
        margin-block: 1.875rem 1.25rem;
        background-color: var.$caption-label-text;
    }
}

#footer__info {
    > p {
        margin-block: 1.5625rem 1.25rem;
    }

    > div {
        p {
            margin-bottom: 0.9375rem;
        }

        div {
            gap: 0.625rem;
        }
    }
}

#footer__explore {
    ul {
        gap: 1.25rem;
        margin-top: 1.5625rem;
    }
}

#footer__subscribe .subscribe-form p {
    margin-block: 1.5625rem 1.25rem;
}

@media screen and (min-width: map-get(var.$containers, xl)) {
    footer .row {
        margin-inline: auto;
        padding-inline: calc(var(--gutter) * 0.5);
    }

    #footer__info {
        margin-left: calc(0.5 * var(--gutter));
        margin-right: calc(-0.75 * var(--gutter));
    }

    #footer__subscribe {
        margin-left: calc(-0.75 * var(--gutter));
    }
}

@media (hover: hover) and (pointer: fine) {
    #footer__info > div img {
        transition: filter var.$trans-settings;

        &:hover {
            filter: brightness(3);
        }
    }

    #footer__explore a {
        transition: color var.$trans-settings;

        &:hover {
            color: var.$text;
        }
    }
}
