@import "../utils/variables";
@import "../utils/mixins";

.container {
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: $container-padding;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(-0.5 * var(--gutter));

    > * {
        flex: 0 0 auto;
        width: calc(var(--column-size) * (100% / 12));
        padding-inline: calc(var(--gutter) * 0.5);
    }
}

@each $breakpoint, $settings in $breakpoints {
    $width: nth($settings, 1);
    $col-count: nth($settings, 2);
    $gutter: nth($settings, 3);

    @include responsive-container($breakpoint, $width, $gutter);
    @include generate-columns($breakpoint, $col-count);
    @include generate-offsets($breakpoint, $col-count - 1);
    @include display-utilities($breakpoint, none);
    @include display-utilities($breakpoint, block);
}
