@use "../utils/variables" as var;
@import "../utils/mixins";

.container {
    width: 100%;
    max-width: var(--container-width);
    margin-inline: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.875rem;
    margin-inline: calc(-0.5 * var(--gutter));

    [class*="col-"] {
        --col-width: calc(100% / var(--col-count));
        flex: 0 0 auto;
        width: calc(var(--col-size) * var(--col-width));
        padding-inline: calc(var(--gutter) * 0.5);
    }
}

@include generate-default-columns(12);
@include generate-default-offsets(11);

@each $breakpoint, $breakpoint-width in var.$breakpoints {
    $setting: map-get(var.$settings, $breakpoint);
    $col-count: nth($setting, 1);
    $gutter: nth($setting, 2);
    
    @include responsive-container($breakpoint, $breakpoint-width, $gutter);
    @include generate-columns($breakpoint, $breakpoint-width, $col-count);
    @include generate-offsets($breakpoint, $breakpoint-width, $col-count - 1);
    @include display-utilities($breakpoint, $breakpoint-width, none);
    @include display-utilities($breakpoint, $breakpoint-width, inline);
    @include display-utilities($breakpoint, $breakpoint-width, block);
    @include display-utilities($breakpoint, $breakpoint-width, flex);
    @include typo-utilities($breakpoint, $breakpoint-width);
}
