@use "../utils/variables" as var;
@import "../utils/mixins";

.container {
    width: 100%;
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: var.$container-padding;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-inline: calc(-0.5 * var(--gutter));

    [class^="col-"] {
        flex: 0 0 auto;
        width: calc(var(--col-size) * (100% / var(--col-count)));
        padding-inline: calc(var(--gutter) * 0.5);
    }
}

@include generate-default-columns(12);
@include generate-default-offsets(11);

@each $breakpoint, $settings in var.$breakpoints {
    $width: nth($settings, 1);
    $col-count: nth($settings, 2);
    $gutter: nth($settings, 3);

    @include responsive-container($breakpoint, $width, $gutter);
    @include generate-columns($breakpoint, $col-count);
    @include generate-offsets($breakpoint, $col-count - 1);
    @include display-utilities($breakpoint, none);
    @include display-utilities($breakpoint, block);
}
