@use "../utils/variables" as var;
@import "../utils/animations";

[class*="artist-card"] {
    img {
        border-radius: 50%;
    }
}

.section-headline {
    align-items: flex-end;
    gap: 2.5rem;
    margin-bottom: 3.75rem;

    h2 {
        margin-bottom: 0.625rem;
    }
}

@media screen and (max-width: map-get(var.$breakpoints, md)) {
    .section-headline {
        flex-wrap: wrap;
    }
}

/* Hero: BEGIN */

#hero__info {
    h1 {
        margin-bottom: 1.25rem;
    }

    a {
        margin: 1.875rem 0;
    }
}

#highlighted-nft__inner {
    $info-card-height: 6.8125rem;

    aspect-ratio: 1 / 1;
    animation: floating-img 10s ease-in-out infinite;

    > a {
        height: calc(100% - $info-card-height);

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
    }

    > div {
        height: $info-card-height;
        padding: 20px;
        border-radius: 0 0 var.$border-rad var.$border-rad;
        background-color: var.$background-secondary;
    }
}

@media screen and (min-width: map-get(var.$breakpoints, xl)) {
    #hero__info__additional .base {
        font-size: 1.5rem;
    }
}

/* Hero: END */

/* Trending Collection: BEGIN */

.trending-collection__card {
    gap: 15px;

    img {
        border-radius: var.$border-rad;
    }

    > a img {
        aspect-ratio: 1 / 1;
        width: 100%;
    }

    h3 {
        line-height: 1.4;
    }
}

.additional-cards {
    gap: 0.9375rem;

    a {
        flex: 1 0 0;
    }

    img {
        aspect-ratio: 1 / 1;
        width: 100%;
    }

    .btn--primary-1 {
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

@media screen and (max-width: map-get(var.$breakpoints, md)) {
    .additional-cards {
        .btn--primary-1 {
            font-size: 1rem;
        }
    }
}

/* Trending Collection: END */

/* Top Creators: BEGIN */

.artist-card {
    flex-wrap: wrap;
    gap: 1.25rem;
    position: relative;
    padding: 1.25rem;
    border-radius: var.$border-rad;
    background-color: var.$background-secondary;
    font-size: 1rem;

    img {
        width: 7.5rem;
    }

    p.h5 {
        margin-bottom: 0.3125rem;
    }

    p.d-flex {
        gap: 10px;
        font-size: inherit;
        line-height: 1.4;

        span:first-child {
            color: var.$caption-label-text;
        }
    }
}

.ranking-number {
    position: absolute;
    top: 1.125rem;
    left: 1.25rem;
    width: 1.875rem;
    padding-block: 4px;
    border-radius: 50%;
    background-color: var.$background;
    text-align: center;
    color: var.$caption-label-text;
}

@media screen and (min-width: map-get(var.$breakpoints, xl)) {
    .artist-card p.h5 {
        text-align: center;
    }
}

@media screen and (max-width: map-get(var.$breakpoints, xl)) {
    .artist-card img {
        width: 60px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .artist-card {
        position: relative;
        outline: 0px solid transparent;
        transition:
            transform var.$trans-settings,
            outline var.$trans-settings;

        &::after {
            content: "More info";
            position: absolute;
            top: 100%;
            padding: 0.3125rem 0.625rem;
            border-radius: var.$border-rad;
            transform: translateY(50%);
            color: var.$text;
            background: var.$gradient-2;
            opacity: 0;
            transition:
                transform var.$trans-settings,
                opacity var.$trans-settings;
        }
    }

    .artist-card:hover {
        outline: 2px solid var.$call-to-action;
        transform: translateY(-5%);

        &::after {
            transform: translateY(-50%);
            opacity: 1;
        }
    }
}

/* Top Creators: END */

/* Browse Categories: BEGIN */

.category-card {
    p {
        padding: 1.25rem 1.875rem 1.5625rem;
        border-radius: 0 0 var.$border-rad var.$border-rad;
        background-color: var.$background-secondary;
    }
}

.category-image-wrapper {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: var.$border-rad var.$border-rad 0px 0px;
    background-size: 130% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;

    div {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        border-radius: var.$border-rad var.$border-rad 0px 0px;
        backdrop-filter: blur(7.5px);
    }
}

@media screen and (max-width: map-get(var.$breakpoints, xl)) {
    .category-card p {
        padding-inline: 1.25rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    #browse-categories .row > div {
        transition: transform var.$trans-settings-2;

        .category-image-wrapper {
            transition: background-size var.$trans-settings-2;

            div {
                transition: backdrop-filter var.$trans-settings-2;
            }
        }
    }

    #browse-categories .row > div:hover {
        transform: scale(1.1);

        .category-image-wrapper {
            background-size: 100% auto;

            div {
                backdrop-filter: blur(1px);
            }
        }
    }
}

/* Browse Categories: END */

/* Discover More NFTs: BEGIN */

#discover-more-nfts {
    .nft-cards-section {
        background-color: var.$background;
    }

    .nft-card__info {
        background-color: var.$background-secondary;
    }
}

/* Discover More NFTs: END */

/* NFT Highlight: BEGIN */

#nft-highlight {
    align-items: flex-end;
    padding-block: 22.5rem 3.75rem;
    background:
        linear-gradient(180deg, #0000 0%, #9747ff 100%),
        url(../images/magic-mushroom-0324.png) lightgray 50% / cover no-repeat;

    > .container {
        row-gap: 1.875rem;
    }
}

#nft-highlight__info {
    .artist-card--small {
        padding: 0.625rem 1.25rem;
        border-radius: var.$border-rad;
        background-color: var.$background-secondary;
    }

    h2 {
        margin-block: 1.875rem;
    }

    [class*="btn--"] {
        $btn-color: #fff;
        border-color: $btn-color;
        background-color: $btn-color;
        color: var.$background;
    }
}

@media screen and (max-width: map-get(var.$breakpoints, md)) {
    #nft-highlight {
        padding-block: 7.5rem 2.5rem;
    }
}

/* NFT Highlight: END */

/* How It Works: BEGIN */

#how-it-works {
    .section-headline {
        margin-bottom: 3rem;
    }
}

.how-it-works__info-card {
    align-content: flex-start;
    height: 100%;
    padding: 0.625rem 1.875rem 1.875rem;
    border-radius: var.$border-rad;
    background-color: var.$background-secondary;

    img {
        width: 15.625rem;
    }

    .card-details {
        text-transform: none;

        h3 {
            line-height: 1.4;
            margin-bottom: 0.625rem;
        }
    }
}

@media screen and (min-width: map-get(var.$breakpoints, md)) {
    .how-it-works__info-card {
        gap: 1.25rem;
    }

    .card-details {
        text-align: center;
    }
}

@media screen and (max-width: map-get(var.$breakpoints, xl)) {
    .how-it-works__info-card {
        img {
            width: 10rem;
        }

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.75rem;
        }
    }
}

@media screen and (max-width: map-get(var.$breakpoints, md)) {
    .how-it-works__info-card {
        justify-content: space-between;
        padding: 1.25rem;

        .card-details {
            width: 9.6875rem;
        }

        img {
            width: 6.25rem;
        }
    }
}

/* How It Works: END */

/* Subscribe Widget: BEGIN */

#subscribe-widget > div {
    gap: 5rem;
    margin-block: 2.5rem 5rem;
    padding: 3.75rem;
    background-color: var.$background-secondary;

    &,
    img {
        border-radius: var.$border-rad;
    }

    > * {
        flex: 1 0 0;
    }

    > img {
        height: 19.375rem;
        object-fit: cover;
    }
}

@media screen and (max-width: map-get(var.$breakpoints, xl)) {
    #subscribe-widget > div {
        gap: 1.875rem;
    }
}

@media screen and (min-width: map-get(var.$breakpoints, md)) and (max-width: map-get(var.$breakpoints, xl)) {
    #subscribe-widget .subscribe-form {
        margin-left: 1.25rem;
    }
}

@media screen and (max-width: map-get(var.$breakpoints, md)) {
    #subscribe-widget > div {
        padding: 0;
        background-color: unset;

        > img {
            height: 15.9375rem;
        }
    }
}

/* Subscribe Widget: END */
