@use "../utils/variables" as var;

/* Cover image: BEGIN */

#nft-page__cover-image {
    display: block;
    height: 35rem;
}

/* Cover image: END */

/* NFT Info: BEGIN */

#nft-info {
    gap: 9.375rem;
    padding-block: 2.5rem;

    .auction-timer button {
        width: 100%;
        margin-top: 1.875rem;
    }
}

#nft-info__additional {
    gap: 1.875rem;
    flex: 1 0 0;
}

#nft-info__headline p {
    color: var.$caption-label-text;
}

#nft-info__created-by > p,
#nft-info__description > p:first-child,
#nft-info__details > p,
#nft-info__tags > p {
    color: var.$caption-label-text;
}

#nft-info__created-by > p,
#nft-info__description > p:first-child,
#nft-info__details > p {
    margin-bottom: 0.625rem;
}

#nft-info__created-by .artist-card--small {
    margin: 0;
}

#nft-info__description {
    text-transform: none;
}

#nft-info__details {
    a {
        gap: 0.625rem;
        width: fit-content;

        + a {
            margin-top: 0.625rem;
        }
    }
}

#nft-info__tags {
    gap: 1.25rem;

    p {
        width: 100%;
    }

    button {
        width: fit-content;
        padding-inline: 1.875rem;
        border: none;
        background-color: var.$background-secondary;
        text-transform: uppercase;
    }
}

@media screen and (min-width: map-get(var.$containers, xl)) {
    #nft-info__details img {
        width: 32px;
    }
}

@media screen and (min-width: map-get(var.$containers, md)) {
    #nft-info {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: map-get(var.$containers, xl)) {
    #nft-info {
        gap: 1.875rem;
    }

    #nft-info__tags {
        flex-direction: column;
    }
}

@media screen and (max-width: map-get(var.$containers, md)) {
    #nft-info,
    #nft-info__additional {
        gap: 1.25rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    #nft-info__details a {
        transition: filter var.$trans-settings;

        &:hover {
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
        }
    }
}

/* NFT Info: END */

/* NFT Cards Section: BEGIN */

#nft-page__nft-cards {
    background-color: var.$background;

    .container > .d-flex {
        gap: 1.875rem;
        margin-bottom: 3.75rem;
    }

    .nft-card__info {
        background-color: var.$background-secondary;
    }
}

@media screen and (max-width: map-get(var.$containers, md)) {
    #nft-page__nft-cards .container > .d-flex {
        margin-bottom: 2.5rem;
    }
}

/* NFT Cards Section: END */
